<!---<p>register works!</p>
<body>
    <div class="container">

   Pet: <input type="text" placeholder="pet" [(ngModel)]='user.pet'><br/>
From:<input type="datetime-local" placeholder="from" [(ngModel)]='user.from'><br/>
To:<input type="datetime-local" placeholder="to" [(ngModel)]='user.to'><br/>
Note:<input type="text" placeholder="note" [(ngModel)]='user.note'><br/>
<input type="submit" value="Save" (click)="register()">

</div>
</body>
--->

<!---Day 2--->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <!--link rel="stylesheet" href="style.css"-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        
            <div id="form">
                <h1 class="text-white text-center">Bookings</h1>

                <div id="first-group">

                    <div id="content">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" placeholder="pet" [(ngModel)]='user.pet'>
                    </div>

                    <div id="content">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <input type="number" placeholder="Phone number" [(ngModel)]='user.phone'>
                    </div>

                    <div id="content">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <input type="datetime-local" placeholder="from" [(ngModel)]='user.from'>
                    </div>

                    

                </div>

                <div id="second-group">                   

                    <div id="content">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <input type="email" placeholder="Email" [(ngModel)]='user.email'>
                    </div>

                    <div id="content">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <input type="datetime-local" placeholder="to" [(ngModel)]='user.to'>
                    </div>                  
                    <div id="content">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <input type="textarea"  placeholder="note" [(ngModel)]='user.note'>
                    </div>  
                </div>

                <button type="submit" id="submit-btn" value="Save" (click)="register()">Book Now</button>

            </div>
        
