
body{
    background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2021/02/02/1403387/f130838389f483b146ceda961f180e25.jpg');
    background-position: center;
    background-size: none;
    background-size: cover;
    height:100%;
}
#form{
    align:center;
    height:600px;
    width:100%;
    margin: auto;
    margin-top: 10px;
    opacity:0.7;
}
#first-group{
    border:none;
    width:400px;
    margin-top: 38px;
    position: absolute;
}
#content{
    border: 1px solid #fff;
    margin:10px;
    margin-left: 8px;
    padding:5px;
}
#content #input-group{
    border:none;
    outline:none;
    background: transparent;
    margin-left:8px;
    width:300px;
    color:#fff;
}
::placeholder{
    color:#fff;
}
.fa{
    display:inline-block;
    color:blueviolet;
    border-right:1px solid #fff; 
    padding:8px;
    margin-left: 8px;
}
#second-group{
    border:none;
    width:400px;
    margin-top: 55px;
    margin-left:400px;
}
#submit-btn{
    margin-top: 30px;
    margin-left: 600px;
    background: transparent;
    color:#fff;
    width:150px;
    border:1px solid red;
    outline:none;
    padding:10px;
    font-size: 20px;
}

