<!--<body>if already have an account<br>
Enter login id : <input type="text" [(ngModel)]="loginId" /><br/>
Enter password : <input type="password" [(ngModel)]="password" /><br/>
</body>
<button (click)="loginSubmit()">Submit</button>-->
<!--Data Validation-->


<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <a class="pull-left" href="#"><img src="./assets/images/logo.png" width="250" height="70"></a> 
      
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item1" >
          <a class="nav-link" float="right" href="#A0">About us</a>
        </li>
        <li class="nav-item1" >
          <a class="nav-link" float="right" href="#A1">Services</a>
        </li>

        
        <li class="nav-item">
          <a class="nav-link" routerLink="/rooms">Rooms
            <span class="visually-hidden">(current)</span>
            </a>

            <li class="nav-item" >
              <a class="nav-link"  routerLink="/overview">Overview</a>
            </li>

        
        <li class="nav-item" >
          <a class="nav-link"  routerLink="/events">Events</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
              

      </ul>
      
    </div>
  </div>
</nav>
<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"><img src="https://assets.st-note.com/production/uploads/images/47180720/picture_pc_65c842f99db5d2439b91b25eaaccbd8c.png" alt="hello" width="800px" height="570px">
    </div>
    <div class="col-md-8 col-lg-6">
      
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>

      <form #loginForm="ngForm" (ngSubmit)="loginSubmit2(loginForm.value)" class="form-group" nonvalidate>
          
            <div class="form-floating mb-3">
              <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              Enter Email ID : <input type='text' name="email" ngModel required #email=ngModel
                  class="form-control" minlength="5" maxlength="100" /><br />
          </div>
          </div>
          <div class="form-floating mb-3">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              Enter Password : <input type='password' name="password" ngModel required #password=ngModel
                  class="form-control" minlength="2" maxlength="50" /><br />
          </div>
          </div>
          <button [disabled]="!loginForm.valid" class="btn btn-primary">Submit</button><br><br>
          <a class="small" routerLink="/registeruser"><p style="text-align:right;">Not yet Registered?? Register Now</p></a>
          <p style="text-align:center;color:gray;">------------------ or login with ------------------</p>
          <button style="position: absolute;margin-left:125px;background-color:white;" (click)="signInWithGoogle()" ><img src="https://d33byq9npfy6u9.cloudfront.net/4/u/original/23352860/21751306_10155724905022838_7192191338970086519_n.png" width="40" height="40" />Login with Google</button>
          </form>
      
  </div>
