<body>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
  
  
  
  
 <div class="container">
   <div class="accordion mb-9">
       
      <br><br>
      <div class="card">
          <div class="card-body" >
          <h2 align="center"><img src="../assets/images/faq.jpg" height="200px" width="500px"></h2>
      
        </div>
      </div>


      <div class="card">
          <div class="card-header" id="accordionAHeading"  width="250px">
              <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordionACollapse">
                    Can all of my dogs stay together in the same suite?
                  </button>
              </h2>
          </div>
          <div id="accordionACollapse" class="collapsed collapse show" data-parent="#testAccordion">
              <div class="card-body" ><i class="fa fa-paw" style="font-size:30px"></i>
                  Yes, we actually encourage dogs from the same home to stay together. 
                    We find that dogs from the same home usually do better when they stay with their siblings or buddies
                
              </div>
          </div>
      </div>
  
      <div class="card">
          <div class="card-header" id="accordionBHeading">
              <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#accordionBCollapse">
                    While my dog is boarding with you, will they be taken out for walks?
                  </button>
              </h2>
          </div>
          <div id="accordionBCollapse" class="collapse collapsed" data-parent="#testAccordion">
              <div class="card-body"><i class="fa fa-paw" style="font-size:30px"></i>
                  Sorry, we can’t take dogs outside of our hotel simply because outdoor environments are not as safe as our controlled indoor environment.
                     By taking dogs outside for walks, any number of things could happen: they could step on a piece of glass, ingest something harmful, 
                     or escape from their leash.
                     It would be regrettable if any of those things occurred so we keep all of our dogs inside.
  
                  
              </div>
          </div>
      </div>
  
  
      <div class="card">
        <div class="card-header" id="accordionCHeading">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#accordionCCollapse">
                  My dog is on a special diet. Can i bring in my own food?
                </button>
            </h2>
        </div>
        <div id="accordionCCollapse" class="collapse collapsed" data-parent="#testAccordion">
            <div class="card-body">
                <i class="fa fa-paw" style="font-size:30px"></i>
                  Of course. We actually encourage pet parents to bring their dog’s normal food with them when they come to the hotel.
                  Do not forget to mention this in the notes section when booking.
                            
            </div>
        </div>
      </div>
  
  
      <div class="card">
        <div class="card-header" id="accordionDHeading">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#accordionDCollapse">
                  Does pet hotel accept all breeds of dog?
                </button>
            </h2>
        </div>
        <div id="accordionDCollapse" class="collapse collapsed" data-parent="#testAccordion">
            <div class="card-body"><i class="fa fa-paw" style="font-size:30px"></i>Yes, we love all dogs and do not discriminate based on breed, age, alteration or size.
                   If your dog is social, they will get the same amount of time in our play groups as any other dog regardless of breed.
                    If your dog is not social with other dogs, s/he will get individual play time with a staff member. 
                    Not only dogs we allow cats and rabbits too.              
            </div>
        </div>
      </div>
  
  
      <div class="card">
        <div class="card-header" id="accordionEHeading">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#accordionECollapse">
                  what is your minimum age when accepting a dog for boarding or daycare?
                </button>
            </h2>
        </div>
        <div id="accordionECollapse" class="collapse collapsed" data-parent="#testAccordion">
            <div class="card-body"><i class="fa fa-paw" style="font-size:30px"></i>
                Minimum Age is 3 months.             
            </div>
        </div>
      </div>
  
      <div class="card">
        <div class="card-header" id="accordionFHeading">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#accordionFCollapse">
                  Do you give discounts for multiple pets?
                </button>
            </h2>
        </div>
        <div id="accordionFCollapse" class="collapse collapsed" data-parent="#testAccordion">
            <div class="card-body"><i class="fa fa-paw" style="font-size:30px"></i>We offer discounts for each additional dog for both daycare and boarding services.             
            </div>
        </div>
        
      </div>
  
  

   </div>
 </div>
</body>
