body {
    background-image: url('https://t4.ftcdn.net/jpg/01/33/77/03/240_F_133770309_VENsYtELOVdqzXZz6ECfmMXqSyfLqdyC.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
