<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img [src]="image" alt="Random slide" width="100%" height="510">
      </div>
      <div class="carousel-caption">
        
      </div>
    </ng-template>
  </ngb-carousel><br>
<!--- <div class="servi_back"><br><br>
   <p class="p1"><b>Services</b></p>
   <div align="left"> 
<figure class="snip0019">
    <img src="https://www.thesprucepets.com/thmb/z_g6u76QMWKPN8xuSC2Mp5WMgzU=/2121x1193/smart/filters:no_upscale()/jump--992416282-5c4a07efc9e77c000110c9a3.jpg" alt="sample11"/>
    <figcaption>
        <div><h2>Physical <span>Training</span> </h2></div>
        <div><p>Daniel, a physical trainer specially for pets</p></div>
    </figcaption>           
</figure>
</div>

<div align="center">
<figure class="snip0019">
    <img src="https://static.onecms.io/wp-content/uploads/sites/47/2021/07/01/dog-spa-massage-1007122602-2000.jpg" alt="sample12"/>
    <figcaption>
        <div><h2>Massage <span>therapy</span></h2></div>
        <div><p>Kiran appointed for Pet massage</p></div>
    </figcaption>           
</figure>
</div>

<div align="right"> 
<figure class="snip0019">
    <img src="https://www.bls.gov/opub/btn/volume-8/images/veterinary-occupations.jpg" alt="sample13"/>
    <figcaption>
        <div><h2> <span>Medication</span> </h2></div>
        <div><p>Dr.Olivia,Dr.Harper appointed for medical treatment</p></div>
    </figcaption>           
</figure>
</div></div>
--->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


     <body>
        <footer class="footer">
           <div class="container">
             <div class="row">
               <div class="footer-col">
                 <h4>Company Info</h4>
                 <ul>
                   <li><a href="#">About us</a></li>
                   <li><a href="#">Jobs</a></li>
                   <li><a href="#">Promotions</a></li>
                   <li><a href="#">iOS App</a></li>
                   <li><a href="#">Android App</a></li>
                 </ul>
               </div>

               <div class="footer-col">
                 <h4>Partners</h4>
                 <ul>
                   <li><a href="#">Advertise with Us</a></li>
                   <li><a href="#">Media</a></li>
                   <li><a href="#">Pet  Charities</a></li>
                   <li><a href="#">Affiliates</a></li>
                   <li><a href="#">Link to Us</a></li>
                   <li><a href="#">Pet-Friendly Hotel Chains</a></li>
                   <li><a href="#">Sites we Recommend</a></li>
                 </ul>
               </div>

               <div class="footer-col">
                 <h4>Customer Service</h4>
                 <ul>
                   <li><a href="#">Cancel a Reservation</a></li>
                   <li><a href="#">Contact Us</a></li>
                   <li><a href="#">Post a Business</a></li>
                   <li><a href="#">Write a Review</a></li>
                   <li><a href="#">Share a Photo</a></li>
                   <li><a href="#">Pet Friendly Guarantee</a></li>
                   <li><a href="#">FAQ</a></li>
                 </ul>
               </div>

               <div class="footer-col">
                <h4>Follow Us</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
              </div>
              </div>
              </div>
            </footer>



      


<!--  
<footer id="dk-footer" class="dk-footer">
        
</footer>
-->
