.bu{
    margin-left: 550px;
}
body {
    background: 
      linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url(https://img.freepik.com/free-photo/double-exposure-businessman-working-digital-tablet-white_123766-110.jpg?size=626&ext=jpg);
      background-size: cover;
      width:100%;
      background-position: center;
      background-repeat: no-repeat;
      height: 700px;
      opacity:10;
      
      font-family: 'Source Sans Pro', sans-serif;
  }
