<!---<app-parent></app-parent>

<app-register></app-register>
<app-login></app-login>
    <app-demo1></app-demo1>
<app-header></app-header>
<app-demo1></app-demo1><br/>
<br/>
<marquee><h1> Welcome to Angular Routing</h1></marquee>
<router-outlet></router-outlet>-->
<body>
<br><br><br><br><br><br><br><br>
<br><br><br><br>

<br><br><br><br>
<div class="bu">

<google-pay-button
  environment="TEST"
  buttonType="book"
  buttonColor="black"
  [paymentRequest]="{
    apiVersion: 2,
    apiVersionMinor: 0,
    allowedPaymentMethods: [
      {
        type: 'CARD',
        parameters: {
          allowedAuthMethods: ['PAN_ONLY', 'CRYPTOGRAM_3DS'],
          allowedCardNetworks: ['AMEX', 'VISA', 'MASTERCARD']
        },
        tokenizationSpecification: {
          type: 'PAYMENT_GATEWAY',
          parameters: {
            gateway: 'example',
            gatewayMerchantId: 'exampleGatewayMerchantId'
          }
        }
      }
    ],
    merchantInfo: {
      merchantId: '12345678901234567890',
      merchantName: 'Demo Merchant'
    },
    transactionInfo: {
      totalPriceStatus: 'FINAL',
      totalPriceLabel: 'Total',
      totalPrice: '1500',
      currencyCode: 'USD',
      countryCode: 'US'
    } 
}"
  (loadpaymentdata)="onLoadPaymentData($event)"
  ></google-pay-button>

</div>
    <!---<app-product></app-product><br/>
    <h3>Register</h3>
    <app-register></app-register><br/>
    <h5>Parent</h5>
    <app-parent></app-parent><br/>
    <app-showemp></app-showemp>--->
   
</body>
