@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
  background: 
    linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(https://img5.goodfon.com/wallpaper/nbig/1/36/krolik-kroliki-ryzhie-parochka-zaichik-dva-zaichiki-krolchat.jpg);
    background-size: cover;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    opacity:10;
    
    font-family: 'Source Sans Pro', sans-serif;
}