
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="pull-left" href="#"><img src="./assets/images/logo.png" width="250" height="70"></a> 
        
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="navbar-collapse collapse show" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/rooms">Rooms
              <span class="visually-hidden">(current)</span>
              </a>

              <li class="nav-item" >
                <a class="nav-link"  routerLink="/overview">Overview</a>
              </li>

          
          <li class="nav-item" >
            <a class="nav-link"  routerLink="/events">Events</a>
          </li>
          
          <li class="nav-item1" >
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
                   

        </ul>
        
      </div>
    </div>
  </nav>

<body>
<div class="item-page" background-image="../assets/images/pexels-daniel-bendig-846086.jpg">
    <br><br>
<h2><a href="/aboutus" style="font-size: 42px;text-align: center;">Why Choose Us ?</a></h2>
<p>&nbsp;</p>
<ul>

<li>State of the art air-conditioning system that circulates air continuously. It provides draft-free fresh air - which is replaced multiple times per hour. Our climate control system ensures temperatures are comfortable no matter how hot or cold it is outside!</li>
<li>Our one-of-a-kind ventilation system is designed to prevent the spread of odours, airborne germs and contaminates</li>
<li>Epoxy flooring to enable efficient cleaning processes</li>
<li>Free dog temperament assessments</li>
<li>Morning dog play included with every stay</li>
<li>Superior customer service</li>
<li>Extended opening hours</li>
<li>Large variety of services and activities to keep your pet busy during their holiday</li>
<li>Free newsletter</li>

<ul>
<li>All doors within The Pets Hotel are alarmed to go off if opened</li>
<li>Fire and smoke safe system</li>
<li>Fully flame retardant and sound proof roof</li>
<li>Fully alarmed facility for any fires or break, fire station, police station and Vet within 5kms of facility (5 minute response time)</li>
<li>security to ensure uncompromised safety for pets and staff</li>
</ul>
</ul>
<ul>
<li>Guest suites are designed to ensure maximum hygiene and minimise stress</li>
<li>Suites are kept clean and sanitary throughout the day</li>
<li>Luxury suites furnished with flat screen TV's available to cater for the most discerning of customers</li>
<li>Unique spa bath experience for small and medium dogs</li>
<li>Super -Premium quality food supplied to all pets</li>
<li>We exceed the industry's code of practice in relation to our cat and dog suite size, ventilation, exercise and security</li>
<li>We will not let your beloved pet go home stinky or in a mess!</li>
<li>We offer training, boarding, Grooming and day care services. A one stop shop for all your pet care needs.</li>
<li>We look after dogs, cats, birds, rabbits</li>
<li>Extensive sound system, which enables music to be played throughout the facility</li>
</ul>
</div>
</body>
