* The hero image */
body, html {
  height: 100%;
}
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.scotsman.com/webimg/b25lY21zOmJlYWE0MzMwLWY1NzItNGNmMC1hMGVkLWNlYTZiZjBlMTJlZjo5NDliMGNiNS02N2M2LTRmMTktOTEyYi0zMGUxM2U4MWI1Y2I=.jpg?width=2048&enable=upscale");
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* Set a specific height */
  height: 50%;
  width: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
