<div class="container">
  <button type="button" class="btn btn-secondary" size="" data-toggle="modal" data-target="#exampleModal">New User? Register Here!</button></div>
  <body>
  </body>
  <div class="modal fade" id="exampleModal"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          
            
            
          <div class="modal-body">
            <img src="https://media.istockphoto.com/photos/this-one-loves-the-groomers-picture-id639321736?b=1&k=20&m=639321736&s=170667a&w=0&h=wV5QFqeRHu-JYMpZC8kHoOm7K71uLBVTSsHewR4OsgY=" />

              <div id="content" >
                <h2 align="center">Registration</h2>
                 
                  <p style="font-size:16px;"><i class="fa fa-user" aria-hidden="true"></i>  Username : <input type="text" placeholder="username" [(ngModel)]='user.username'></p>
                  
              
                  <p style="font-size:16px;"><i class="fa fa-phone"></i>  Phone no. : <input type="text" placeholder="phone" [(ngModel)]='user.phone'></p>
              
                
                  <p style="font-size:16px;"><i class="fa fa-envelope"></i>  Email Id    : <input type="text" placeholder="email" [(ngModel)]='user.email'></p>
                
          
                  <p style="font-size:16px;"><i class="fa fa-lock" aria-hidden="true"></i>  Password  : <input type="password" placeholder="password" [(ngModel)]='user.password'>
                </p>
                <div align="right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit();" class="btn btn-primary" value="Save" (click)="registeruser()">Save</button>
                </div>
                
          </div>
        </div> 
  
        
        
      </div>
    </div>
