img {
    max-width: 100%;
    max-height: 100%;
   }


   body {
    background: url('https://wallpapercave.com/wp/wp8156967.jpg');
    align:'center';
  background-repeat: no-repeat;
  background-size: auto;

    width: 100%;
    height: 520px;
    background-size: 100% 100%;

}











.container {
    position: relative;
    width: 100%;
    max-width: 900px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
  }




/* EDITTED*/

.modal-content{
    background: #420d28;
    color: #fff;

}
.modal-title{
text-align: center;
font-size: 60px;
}
.fa{
display:inline-block;
color:blueviolet;
border-right:1px solid #fff; 
padding:8px;
margin-left: 8px;
}
#form{
height:600px;
width:100%;
margin: auto;
margin-top: 10px;
opacity:0.7;
}
#first-group{
border:none;
width:400px;
margin-top: 38px;
position: absolute;
}
#content{
margin:10px;
margin-left:0px;
padding:5px;
}
#content #input-group{
border:none;
outline:none;
background: transparent;

width:300px;
color:#fff;
}
::placeholder{
color:#fff;
}
.fa{
display:inline-block;
color:blueviolet;
padding:8px;
margin-left: 8px;
}
#second-group{
border:none;
width:400px;
margin-top: 55px;
margin-left:400px;
}
/*--drop down---*/

.dropbtn {
background-color: #4CAF50;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
}
.modal-content{
    background: #5a0720;
    color: #fff;

}
.modal-title{
text-align: center;
font-size: 60px;
}
.fa{
display:inline-block;
color:blueviolet;
border-right:1px solid #fff; 
padding:8px;
margin-left: 8px;
}
#form{
height:600px;
width:100%;
margin: auto;
margin-top: 10px;
opacity:0.7;
}
#first-group{
border:none;
width:400px;
margin-top: 38px;
position: absolute;
}
#content{
margin:10px;
margin-left:0px;
padding:5px;
}
#content #input-group{
border:none;
outline:none;
background: transparent;

width:300px;
color:#fff;
}
::placeholder{
color:#fff;
}
.fa{
display:inline-block;
color:blueviolet;
padding:8px;
margin-left: 8px;
}
#second-group{
border:none;
width:400px;
margin-top: 55px;
margin-left:400px;
}
/*--drop down---*/

.dropbtn {
background-color: #4CAF50;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #3e8e41;
}

.dropdown:hover .dropbtn {
background-color: #3e8e41;
}
