

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
  background: 
    linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(http://cdn.wallpaperhi.com/1920x1080/20120312/white%20animals%20dogs%20puppies%20white%20background%201920x1080%20wallpaper_www.wallpaperhi.com_52.jpg);
    background-size: cover;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 1400px;
    opacity:0.9;
    
    font-family: 'Source Sans Pro', sans-serif;
}
