<!---<div class="item-page">
    <h2>
        <a href=""/overview">Overview</a>
        </h2>
        <p>
            <img class="res2 bordered valet" style="margin"
        </p>
    --->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="pull-left" href="#"><img src="./assets/images/logo.png" width="250" height="70"></a> 
            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="navbar-collapse collapse show" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item1" >
                <a class="nav-link" float="right" href="#A0">About us</a>
              </li>
              <li class="nav-item1" >
                <a class="nav-link" float="right" href="#A1">Services</a>
              </li>
    
              
              <li class="nav-item">
                <a class="nav-link" routerLink="/rooms">Rooms
                  <span class="visually-hidden">(current)</span>
                  </a>
    
                  <li class="nav-item" >
                    <a class="nav-link"  routerLink="/overview">Overview</a>
                  </li>
    
              
              <li class="nav-item" >
                <a class="nav-link"  routerLink="/events">Events</a>
              </li>
              
              <li class="nav-item1" >
                <a class="nav-link" routerLink="/login">Login</a>
              </li>
              
    
            </ul>
            
          </div>
        </div>
      </nav>
    


<body>

  <!--    <img class="res2 bordered valet" style="margin-right: 16px; float: left;" src="https://static4.depositphotos.com/1004592/316/i/600/depositphotos_3161124-stock-photo-nine-dogs.jpg" alt="overview" width="500" height="223" />   -->
          <h1 align="center"><q>We Care for your Dog.</q></h1>
          <pre class="space"><h3>   Even when you're not on holidays, The Pets Hotel's doggy day care service gives your pets an opportunity to enjoy continual interaction with our caring staff all day long.<br>  Whether you are at work, running errands, attending kids sporting events, or picking up some bargains in and around the fabulous Melbourne shopping districts, <br>  The Pets Hotel Doggy Day care is the solution for your dog.<br>  Your dog can spend the day playing or being pampered with a spa treatment.<br>  Today’s lifestyle doesn’t leave us any spare time to do the things we love to do.<br>  One of the things any pet owner enjoys is to exercise our dogs.<br>  More often than not, we are too busy or too tired, and it just doesn’t happen.
              <br><br>  Dogs are extremely social creatures that require a lot of attention.<br>  In our other pet hotel environments we observe dogs at play, it is amazing to see how much fun multiple dogs can have running, romping and wrestling.<br>  It is great exercise and can burn off tons of excess energy. 
              <br>  The benefits also flow on to you the owner.<br>  You can come home to a well-exercised, well-behaved tired dog who is ready to relax on the couch and snuggling up with you.<br><br>  You will never have to worry about coming home to a disaster courtesy of a bored dog. 
              <br>  At The Pets Hotel Doggy Day Care your dog will be supervised by caring pet attendants.<br>  We offer a safe and healthy play environment that will enrich your dogs spirit, provide exercise and stimulate their minds.<br>  The Pets Hotel day care dogs have the added benefit of relaxing in luxurious suites during their rest periods.
          </h3>
      </pre>
          <p align="center"><b>Check out our <a href="https://www.facebook.com/ThePetsHotel/" target="_blank"><span class="facebook">Facebook </span>Page </a>for pictures of our Pet Hotel at play!</b></p>
          <h2 align="center"><b>Sample Daily Activity</b></h2>
          
          <ul>
              <li><h5><b>7.00am-7.30am </b>  Arrival Dogs are checked-in and greeted by one of our dedicated pet attendants. They are allocated a day suite ready for the first playtime.</h5></li>
              <li><h5><b>7.30am-11.00am </b>  Dogs participate in ball chasing, wrestling, tunnel running, chasing games etc.</h5></li>
              <li><h5><b>11.00am-3.30pm </b>  Rest time. Dogs are taken back to their suites;they are left to rest, and unwind. Any special needs are attended to.</h5></li>
              <li><h5><b>3.30pm-5.00pm </b>  Dogs participate in more playtimes, and more fun and games for all.</h5></li>
              <li><h5><b>5.00pm-6.30pm </b>  Dogs are tidied up and then taken back to their suites to eagerly wait for their owner to take them home for some quality time together.</h5></li>
          </ul>
          <h2 align="center"><strong>Hours</strong></h2>
          <p align="center"><q>7.00am until 6.30pm Monday to Friday and 9.00am until 12.30pm Saturday and 12pm until 4.30pm Sunday. Closed on public holidays</q></p>
          <ul>
              <li>Please note for your pet to participate in our Day care program, the pet must be over 3 months of age and any pet over 7 months must be spayed or neutered (desexed) to be played with other dogs.</li>
          </ul>
      
      </body>