<div align="center" > 
    <figure class="snip0019">
        <img src="./assets/images/dogfam.jpg" alt="sample11"/>
        <figcaption>
            <div><h2>Pet Family <span>Picture</span> Day </h2></div>
            <div><p>When you want to pose with your pet and get a beautiful memento of your pet exclusive family.</p></div>
        </figcaption>           
    </figure>
    </div>
    
    <div align="center">
    <figure class="snip0019">
        <img src="../assets/images/petwalks.jfif" alt="sample12"/>
        <figcaption>
            <div><h2>If we wanted more <span>leisure</span></h2></div>
            <div><p>Bring your canine friends for an afternoon of romping in the garden. In the winter, cross-country skiers and snowshoers also welcome, and in the warmer months, picnicking is encouraged! Free to members and dogs, or with admission to the sculpture garden</p></div>
        </figcaption>           
    </figure>
    </div>
    
    <div align="center"> 
    <figure class="snip0019">
        <img src="../assets/images/petexpo.jfif" alt="sample13"/>
        <figcaption>
            <div><h2>I <span>propose</span> we leave <span>math</span> </h2></div>
            <div><p>To the machines and go play outside.</p></div>
        </figcaption>           
    </figure>
    </div>
